body 
{
    text-align: center;
}
.container
{
     margin: auto;
     height: 100vh;
}
h1
{
    font-size: 70;
    font-weight: 900;
    margin: 50px 0px;
}
p
{
    font-size: 35px;
    margin: 50px 0px;
}
button
{
    background-color: blue;
    color: white;
    border-width: 2px;
    height: 80px;
    width: 250px;
}

button:hover   
{
    background-color: green;

}
